BASE_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080
STANDARD_USERNAME=your-standard-username
STANDARD_PASSWORD=your-standard-password
LOCKED_USERNAME=your-locked-username
LOCKED_PASSWORD=your-locked-password
ADMIN_USERNAME=your-admin-username
ADMIN_PASSWORD=your-admin-password
